<div class="snes">
  <div class="left">
    <div class="pad">
      <div class="control top">
        <div class="arrow"></div>
      </div>
      <div class="control left">
        <div class="arrow"></div>
      </div>
      <div class="control right">
        <div class="arrow"></div>
      </div>
      <div class="control bottom">
        <div class="arrow"></div>
      </div>
      <div class="control middle"></div>
    </div>
  </div>
  <div class="middle">
    <div class="logo"></div>
    <div class="logo clone"></div>
    <div class="title"></div>
    <button class="select"></button>
    <button class="start"></button>
  </div>
  <div class="right">
    <div class="circle">
      <div class="group-1">
        <button class="green"></button>
        <button class="blue"></button>
      </div>
      <div class="group-2">
        <button class="yellow"></button>
        <button class="red"></button>
      </div>
    </div>
  </div>
</div>