<img id="bg" src="/img/bg.jpg" />
<div id="overlay">
    <div id="aRegion" ng-mousedown="clickButton('a')" ng-mouseup="releaseButton('a')" on-tap="clickButton('a')" on-tap-release="releaseButton('a')"></div>
    <div id="bRegion" ng-mousedown="clickButton('b')" ng-mouseup="releaseButton('b')" on-tap="clickButton('b')" on-tap-release="releaseButton('b')"></div>
    <div id="startRegion"  ng-mousedown="clickButton('start')" ng-mouseup="releaseButton('start')"  on-tap="clickButton('start')" on-tap-release="releaseButton('start')"></div>
    <div id="selectRegion" ng-mousedown="clickButton('select')" ng-mouseup="releaseButton('select')"  on-tap="clickButton('select')" on-tap-release="releaseButton('select')"></div>
    <div id="rightRegion" ng-mousedown="clickButton('right')" ng-mouseup="releaseButton('right')"  on-tap="clickButton('right')" on-tap-release="releaseButton('right')"></div>
    <div id="topRegion" ng-mousedown="clickButton('up')" ng-mouseup="releaseButton('up')"  on-tap="clickButton('up')" on-tap-release="releaseButton('up')"></div>
    <div id="bottomRegion" ng-mousedown="clickButton('down')" ng-mouseup="releaseButton('down')"  on-tap="clickButton('down')" on-tap-release="releaseButton('down')"></div>
    <div id="leftRegion" ng-mousedown="clickButton('left')" ng-mouseup="releaseButton('left')"  on-tap="clickButton('left')" on-tap-release="releaseButton('left')"></div>
</div>