<img id="bg" src="bg.jpg" />
<div id="overlay">
    <div id="aRegion" ng-mousedown="clickButton('a')" ng-mouseup="releaseButton('a')"></div>
    <div id="bRegion" ng-mousedown="clickButton('b')" ng-mouseup="releaseButton('b')"></div>
    <div id="startRegion"  ng-mousedown="clickButton('start')" ng-mouseup="releaseButton('start')"></div>
    <div id="selectRegion" ng-mousedown="clickButton('select')" ng-mouseup="releaseButton('select')"></div>
    <div id="rightRegion" ng-mousedown="clickButton('right')" ng-mouseup="releaseButton('right')"></div>
    <div id="topRegion" ng-mousedown="clickButton('top')" ng-mouseup="releaseButton('top')"></div>
    <div id="bottomRegion" ng-mousedown="clickButton('bottom')" ng-mouseup="releaseButton('bottom')"></div>
    <div id="leftRegion" ng-mousedown="clickButton('left')" ng-mouseup="releaseButton('left')"></div>
</div>