extends layouts/default

block content
  div(data-ng-include="'/views/login.html'", data-ng-controller="loginController", data-role="navigation")
  script(type="text/javascript").
    window.user = !{user};
  
